{% extends 'base.html.twig' %}

{% block title %}Créer un article{% endblock %}

{% block body %}

    <div>
        <main>

        </main>

        <aside>
        </aside>
    </div>

{% endblock %}
