<ul>
    <li><a href="{{path('accueil')}}">Accueil</a></li>
    <li><a href="{{ path('contact', {type : 'Montpellier', name : 'Nassim'}) }}">Contactez-moi</a></li>
    <li><a href="{{ path('blog') }}">Blog</a><ol>
            <li><a>Article a</a></li>
            <li><a>Article b</a></li>
        </ol>
    </li>
</ul>