{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Blog! ✅</h1>

    <ul>
        <li><a href="{{path('accueil')}}">Accueil</a></li>
        <li><a href="{{ path('contact', {type : 'Montpellier', name : 'Nassim'}) }}">Contactez-moi</a></li>
        <li><a href="{{ path('blog') }}">Blog</a><ol>
                <li><a>Article a</a></li>
                <li><a>Article b</a></li>
            </ol>
        </li>
    </ul>
</div>
{% endblock %}
