{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/contact.css') }}">
{% endblock %}

{% block body %}
    <div>
        <h1>Hello {{ name }}! ✅</h1>

        <form action="">
            <input type="text" name="name" id="" value="{{ name }}" aria-label="Nom">
            <input type="submit" value="Envoyer">
        </form>

        {% if city is defined %}
            <p>Vous essayez de contacter {{ city }}</p>
        {% endif %}
    </div>
{% endblock %}
